div.hidden {
    display: none;
}

body {
    font-family: Georgia, serif;
    background-color: rgb(241, 231, 221);
    margin: 10px 60px;
    background-image: url('assets/bkg-01.svg');
    background-size: 1280px;
}
  


button {
    font: 20px Georgia, serif;  
    background: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 20px;
}
button:hover {
    background: rgb(225, 208, 191);
}

#homeButton {
    font-size: 40px;
    font-weight: bold;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: none;
    float: left;
    background: rgb(225, 208, 191);
}

.resourceButtons {
    margin-top: 30px;
}

.userButtons {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    float: right;
    margin-top: 30px;
}
.userButtons:hover {
    background: rgb(132, 152, 129);
}

.resourceButtonsColor {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    margin-top: 30px;
}
.resourceButtonsColor:hover {
    background: rgb(132, 152, 129);
}

.submitButton {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    margin:auto;
    display:block;
}
.submitButton:hover {
    background: rgb(132, 152, 129);
}

h1 {
    font-size: 60px;
    margin-left: 20px;
}

#title {
    margin-top: 110px;
}

.userHeader {
    margin-top: 100px;
    text-align: center;
}

p {
    margin-left: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.actInfo {
    margin-left: 0px;
    margin-top: 20px;
    text-align: center;
}

#actUser {
    margin-top: 100px;
}

#actPass {
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

input {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 50%;
    border-radius: 40px;
    padding: 15px;
    margin: 5px auto 22px auto;
    display: block;
    border: none;
    background: #f1f1f1;
}
input:focus {
    background: rgb(225, 208, 191);
    outline: none;
}



#map {
    height: 460px;
    width: 100%;
}

 
a {
/* 20. Make link text color navy blue (look up the hex code) */
color: #000000;
/* 21. Set the text-decoration to none for links */
text-decoration: none;
}

/* 22. Set style for links using the :hover pseudoclass */
a:hover {
/* 23. Change the color of links to azure on mouseover */
color: #3d6954;
/* 24. Set the text-decoration to underline for links on mouseover */
text-decoration: underline;
}