div.hidden {
    display: none;
}

body {
    font-family: Georgia, serif;
    background-color: rgb(241, 231, 221);
    margin: 10px 60px;
    background-image: url('assets/bkg-01.svg');
    background-size: 1280px;
}
  


button {
    font: 20px Georgia, serif;  
    background: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 20px;
}
button:hover {
    background: rgb(225, 208, 191);
}

#homeButton {
    font-size: 40px;
    font-weight: bold;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: none;
    float: left;
    background: rgb(225, 208, 191);
}

.resourceButtons {
    margin-top: 30px;
}

.userButtons {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    float: right;
    margin-top: 30px;
}
.userButtons:hover {
    background: rgb(132, 152, 129);
}

.resourceButtonsColor {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    margin-top: 30px;
}
.resourceButtonsColor:hover {
    background: rgb(132, 152, 129);
}

.submitButton {
    color: #FFFFFF;
    background:rgb(175, 193, 172);
    margin-top: 30px;
    margin:auto;
    display:block;
}
.submitButton:hover {
    background: rgb(132, 152, 129);
}



h1 {
    font-size: 60px;
    margin-left: 20px;
}

#title {
    margin-top: 110px;
}

.userHeader {
    text-align: center;
}

p {
    margin-left: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 40px;
    text-align: center;
}



#map {
    height: 300px;
    width: 100%;
}

  * {
    box-sizing: border-box;
  }
  
  /* 8. Add style to divs with the "container" class */
  .container {
    /* 9. Add 15px padding */
    padding: 15px;
    /* 10. Make the background color of the container Carolina Blue using the hex code defined here: https://en.wikipedia.org/wiki/Carolina_blue*/
    background-color: #4B9CD3;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* 11. Style only the h1 with id "register" */
  h1 #register {
    /* 12. Make the text BOLD */
    font-weight: bold;
    /* 13. Make the text color navy (look up the hex code for navy) */
    color: #202A44;
  }
  
  hr {
    /* 14. Override default hr style with a 30-pixel bottom margin */
    margin-bottom: 30px;
    /* 15. Add a 2-pixel solid azure border (look up the hex code). */
    border-style: solid;
    border-width: 2px;
    border-color: #008AD8;
  }
  
  /* 16. Set a style for the submit button with "registerbtn" class */
  .reegisterbtn {
    /* 17. Set the background color to navy using the hex color */
    background-color: #202A44;
    /* 18. Set the text color to white using the hex color */  
    color: #FFFFFF;
    padding: 16px 20px;
    margin: 8px 0;
    /* 19. Set it to have no border */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    /* 20. Make link text color navy blue (look up the hex code) */
    color: #202A44;
    /* 21. Set the text-decoration to none for links */
    text-decoration: none;
  }
  
  /* 22. Set style for links using the :hover pseudoclass */
  a:hover {
    /* 23. Change the color of links to azure on mouseover */
    color: #008AD8;
    /* 24. Set the text-decoration to underline for links on mouseover */
    text-decoration: underline;
  }
  
  .signin {
    background-color: #f1f1f1;
    /* 25. Align the text for the section with class "signin" to be centered */
    text-align: center;
  }
  